:root {
  --branding-font: "Rubik", sans-serif;
  --primary-color: #0b3c49;
  --secondary-color: #f18f01;
  --tertiary-color: #797a9e;
  --accent-color: #797a9e;
  --box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--branding-font);
  background-color: #cbd2d0;
}
p {
  display: block;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1.5;
}
.about-paragraphs {
  padding: 80px;
}
h1,
h2,
h3,
h5 {
  font-family: var(--branding-font);
  text-align: center;
  padding: 10px;
}
h3 {
  color: #fe9d0b;
  opacity: 0.8;
}
section {
  background-color: #cbd2d0;
}
footer {
text-align: center;
font-size: xx-large;
}
.avatar {
  border-radius: 200px;
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  background-color: #0b3c49;
  color: var(--secondary-color);
  padding: 80px 20px;
  text-align: center;
}
.navbar {
  background: #cbd2d0;
  opacity: 95%;
}
.navbar-toggler-icon {
  color: var(--secondary-color);
}
.nav-links {
  font-size: 18;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.nav-links a {
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}
.contact {
  background: var(--secondary-color);
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.about {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: capitalize;
  background-color: white;
  border: 2px solid #0b3c49;
  color: #0b3c49;
  box-shadow: var(--box-shadow);
}
.email {
  text-align: center;
}
.email a {
  text-decoration: none;
  color: var(--tertiary-color);
}
.primary-link {
  text-decoration: none;
  background: var(--secondary-color);
  color: #f5f3f5;
  padding: 10px;
  border-radius: 10px;
}
#homepage {
  display: flex;
  justify-content: center;
  text-decoration: none;

  color: var(--accent-color);
}
.spacer {
  padding-top: 30px;
}
.navbar a {
  color: var(--primary-color);
}
a:any-link {
  cursor: auto;
}
a:hover {
  color: #e49273;
}
.nav-link {
  color: #7180ac;
}
.nav-link:hover {
  color: #e49273;
}
span {
  font-weight: 700;
}
.experience {
  text-align: center;
}
.col-sm-12 {
  border-radius: 20px;
  background-color: white;
  text-align: center;
  border: 2px solid #0b3c49;
  box-shadow: var(--box-shadow);
}
.skills-icon1 {
  color: #0b3c49;
}
.hero a {
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #0b3c49;
  background-color: #cbd2d0;
}
h3 .p-md-3 {
  color: #fe9d0b;
}
i {
  color: #0b3c49;
}
.col-md-8 {
  font-size: 13px;
  color: #0b3c49;
  background: white;
  text-align: center;
  padding: 20px;
  border: 3px solid #fe9d0b;
  box-shadow: var(--box-shadow);
  border-radius: 40px;
}
.col-md-8 a {
  text-decoration: none;
  background: var(--secondary-color);
  color: #f5f3f5;
  padding: 10px;
  border-radius: 10px;
}
span.nameHeading {
  font-size: 20px;
  padding: 10px;
  color: #0b3c49;
}
@media only screen and (max-width: 480px) {
  .img-fluid {
    max-width: 25%;
  }
}
